In [1]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance
from datetime import datetime as dt

# Instructions: 

1. Make sure to organize the CSV files in folders named by year
2. Select the year to process in the next field. 
3. Then just let it run!

In [6]:
# Set year to concatenate

year_to_process = 2020

In [7]:
# Concatenate csv files

tic = timeit.default_timer()                            # Monitor performance

path = f'/Volumes/GoogleDrive/My Drive/Humanate/Tec Bootcamp/Tableau_Citibike/0. raw_data/{year_to_process}'
all_files = glob.glob(path + "/*.csv")

csv_file_list = []

for filename in all_files:
    try:
        df = pd.read_csv(filename, index_col=None, header=0)
        csv_file_list.append(df)
#         print (f'File {i} added')
    except:
        print(f'Concatenate error {filename}, could not be added')
        pass

citibike_rides_df = pd.concat(csv_file_list, axis=0, ignore_index=True)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to extract and concatenate excel files: {round(toc - tic, 2)}')

citibike_rides_df

Time (in seconds) to extract and concatenate excel files: 175.13

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19506852,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526,E 33 St & 5 Ave,40.747659,-73.984907,3614,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,1
19506853,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307,West End Ave & W 94 St,40.794165,-73.974124,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,0
19506854,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,0
19506855,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,1
19506856,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,0

In [8]:
# Clean up data and add an Age column

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df['starttime'] = pd.to_datetime(citibike_rides_df['starttime'])          # Convert to datetime values  
citibike_rides_df['stoptime'] = pd.to_datetime(citibike_rides_df['stoptime'])

citibike_rides_df['birth year'] = pd.to_numeric(citibike_rides_df['birth year'], errors='coerce')  # Convert to float

citibike_rides_df['Age'] = pd.DatetimeIndex(citibike_rides_df['starttime']).year - citibike_rides_df['birth year'] # Calculate age

citibike_rides_df['gender'].replace(to_replace=1, value='Male', inplace=True )           # Replace gender values
citibike_rides_df['gender'].replace(to_replace=2, value='Female', inplace=True )
citibike_rides_df['gender'].replace(to_replace=0, value='Unknown', inplace=True )

citibike_rides_df = citibike_rides_df.rename(columns={'tripduration': 'Duration (Sec)',  # Polish up column names
                                                      'starttime' : 'Start Time & Date',
                                                      'stoptime' : 'End Time & Date',
                                                      'start station id': 'Start Station ID',
                                                      'start station name': 'Start Station Name',
                                                      'start station latitude': 'Start Lat',
                                                      'start station longitude': 'Start Lon',
                                                      'end station id': 'End Station ID',
                                                      'end station name': 'End Station Name',
                                                      'end station latitude': 'End Lat',
                                                      'end station longitude': 'End Lon',
                                                      'bikeid': 'Bike ID',
                                                      'usertype': 'User Type', 	
                                                      'birth year': 'Birth Year',
                                                      'gender':'Gender'})

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

for column in citibike_rides_df.columns:
    print(f'{column}, type: {type(citibike_rides_df.loc[0, column])}')

citibike_rides_df.head()

Time (in seconds) to process data: 10.3
Duration (Sec), type: <class 'numpy.int64'>
Start Time & Date, type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
End Time & Date, type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Start Station ID, type: <class 'numpy.int64'>
Start Station Name, type: <class 'str'>
Start Lat, type: <class 'numpy.float64'>
Start Lon, type: <class 'numpy.float64'>
End Station ID, type: <class 'numpy.int64'>
End Station Name, type: <class 'str'>
End Lat, type: <class 'numpy.float64'>
End Lon, type: <class 'numpy.float64'>
Bike ID, type: <class 'numpy.int64'>
User Type, type: <class 'str'>
Birth Year, type: <class 'numpy.int64'>
Gender, type: <class 'str'>
Age, type: <class 'numpy.longlong'>

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,789,2020-01-01 00:00:55.390,2020-01-01 00:14:05.147,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,Male,28
1,1541,2020-01-01 00:01:08.102,2020-01-01 00:26:49.178,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,Male,51
2,1464,2020-01-01 00:01:42.140,2020-01-01 00:26:07.011,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,Male,57
3,592,2020-01-01 00:01:45.561,2020-01-01 00:11:38.155,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,Male,40
4,702,2020-01-01 00:01:45.788,2020-01-01 00:13:28.240,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,Male,38

In [9]:
# Export to clean CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df.to_csv(f"../2_clean_datasets_by_year/rides_{year_to_process}.csv", index=False)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export CSV file: {round(toc - tic, 2)}')

citibike_rides_df.head()

Time (in seconds) to export CSV file: 423.8

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,789,2020-01-01 00:00:55.390,2020-01-01 00:14:05.147,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,Male,28
1,1541,2020-01-01 00:01:08.102,2020-01-01 00:26:49.178,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,Male,51
2,1464,2020-01-01 00:01:42.140,2020-01-01 00:26:07.011,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,Male,57
3,592,2020-01-01 00:01:45.561,2020-01-01 00:11:38.155,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,Male,40
4,702,2020-01-01 00:01:45.788,2020-01-01 00:13:28.240,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,Male,38