In [1]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance
from datetime import datetime as dt

# Instructions: 

1. Make sure to organize the CSV files in folders named by year
2. Select the year to process in the next field. 
3. Then just let it run!

In [2]:
# Set year to concatenate

year_to_process = 2021

In [3]:
# Concatenate csv files

tic = timeit.default_timer()                            # Monitor performance

path = f'/Volumes/GoogleDrive/My Drive/Humanate/Tec Bootcamp/Tableau_Citibike/0. raw_data/{year_to_process}'
all_files = glob.glob(path + "/*.csv")

csv_file_list = []

for filename in all_files:
    try:
        df = pd.read_csv(filename, index_col=None, header=0)
        csv_file_list.append(df)
#         print (f'File {i} added')
    except:
        print(f'Concatenate error {filename}, could not be added')
        pass

citibike_rides_df = pd.concat(csv_file_list, axis=0, ignore_index=True)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to extract and concatenate excel files: {round(toc - tic, 2)}')

citibike_rides_df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Time (in seconds) to extract and concatenate excel files: 39.06

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10150423,5CCF02508D6C4209,classic_bike,2021-06-30 13:13:05,2021-06-30 13:25:54,Alexander Ave & E 134 St,7712.04,St. Nicholas Ave & W 126 St,7756.10,40.807466,-73.927107,40.811432,-73.951878,casual
10150424,C4D61E2B06185BC1,classic_bike,2021-06-23 22:51:46,2021-06-23 22:56:56,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994685,40.743453,-74.000040,member
10150425,B58C37145FC92C4B,classic_bike,2021-06-19 16:18:58,2021-06-19 16:33:32,S Portland Ave & Hanson Pl,4354.05,Eastern Pkwy & Washington Ave,3928.08,40.685396,-73.974315,40.671649,-73.963115,casual
10150426,C166DBE51A54FDAE,classic_bike,2021-06-23 11:29:37,2021-06-23 11:30:59,8 Ave & W 31 St,6450.05,8 Ave & W 33 St,6450.12,40.750585,-73.994685,40.751551,-73.993934,member
10150427,DB56BB2AE0570263,docked_bike,2021-06-19 00:54:21,2021-06-19 01:02:39,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994684,40.743453,-74.000040,member

In [7]:
# Clean up data and add an Age column

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df['started_at'] = pd.to_datetime(citibike_rides_df['started_at'])          # Convert to datetime values  
citibike_rides_df['ended_at'] = pd.to_datetime(citibike_rides_df['ended_at'])

citibike_rides_df = citibike_rides_df.rename(columns={'started_at' : 'Start Time & Date',# Polish up column names
                                                      'ended_at' : 'End Time & Date',
                                                      'start_station_id': 'Start Station ID',
                                                      'start_station_name': 'Start Station Name',
                                                      'start_lat': 'Start Lat',
                                                      'start_lng': 'Start Lon',
                                                      'end_station_id': 'End Station ID',
                                                      'end_station_name': 'End Station Name',
                                                      'end_lat': 'End Lat',
                                                      'end_lng': 'End Lon',
                                                      'bikeid': 'Bike ID',
                                                      'member_casual': 'User Type'})

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

for column in citibike_rides_df.columns:
    print(f'{column}, type: {type(citibike_rides_df.loc[0, column])}')

citibike_rides_df.head()

Time (in seconds) to process data: 5.27
ride_id, type: <class 'str'>
rideable_type, type: <class 'str'>
Start Time & Date, type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
End Time & Date, type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
start_station_name, type: <class 'str'>
Start Station ID, type: <class 'float'>
End Station Name, type: <class 'str'>
End Station ID, type: <class 'str'>
Start Lat, type: <class 'numpy.float64'>
start_lng, type: <class 'numpy.float64'>
End Lat, type: <class 'numpy.float64'>
End Lon, type: <class 'numpy.float64'>
User Type, type: <class 'str'>

,ride_id,rideable_type,Start Time & Date,End Time & Date,start_station_name,Start Station ID,End Station Name,End Station ID,Start Lat,start_lng,End Lat,End Lon,User Type
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [8]:
citibike_rides_df = citibike_rides_df.rename(columns={'start_station_name': 'Start Station Name',
                                                      'start_lng': 'Start Lon'})

citibike_rides_df['User Type'].replace(to_replace='casual', value='Customer', inplace=True )           # Replace user type values
citibike_rides_df['User Type'].replace(to_replace='member', value='Subscriber', inplace=True )
citibike_rides_df

,ride_id,rideable_type,Start Time & Date,End Time & Date,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Lat,Start Lon,End Lat,End Lon,User Type
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,Customer
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,Customer
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10150423,5CCF02508D6C4209,classic_bike,2021-06-30 13:13:05,2021-06-30 13:25:54,Alexander Ave & E 134 St,7712.04,St. Nicholas Ave & W 126 St,7756.10,40.807466,-73.927107,40.811432,-73.951878,Customer
10150424,C4D61E2B06185BC1,classic_bike,2021-06-23 22:51:46,2021-06-23 22:56:56,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994685,40.743453,-74.000040,Subscriber
10150425,B58C37145FC92C4B,classic_bike,2021-06-19 16:18:58,2021-06-19 16:33:32,S Portland Ave & Hanson Pl,4354.05,Eastern Pkwy & Washington Ave,3928.08,40.685396,-73.974315,40.671649,-73.963115,Customer
10150426,C166DBE51A54FDAE,classic_bike,2021-06-23 11:29:37,2021-06-23 11:30:59,8 Ave & W 31 St,6450.05,8 Ave & W 33 St,6450.12,40.750585,-73.994685,40.751551,-73.993934,Subscriber
10150427,DB56BB2AE0570263,docked_bike,2021-06-19 00:54:21,2021-06-19 01:02:39,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994684,40.743453,-74.000040,Subscriber

In [9]:
citibike_rides_df.drop(['ride_id', 'rideable_type' ], inplace=True, axis=1)
citibike_rides_df

,Start Time & Date,End Time & Date,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Lat,Start Lon,End Lat,End Lon,User Type
0,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,Customer
1,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
2,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,Customer
3,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
4,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...
10150423,2021-06-30 13:13:05,2021-06-30 13:25:54,Alexander Ave & E 134 St,7712.04,St. Nicholas Ave & W 126 St,7756.10,40.807466,-73.927107,40.811432,-73.951878,Customer
10150424,2021-06-23 22:51:46,2021-06-23 22:56:56,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994685,40.743453,-74.000040,Subscriber
10150425,2021-06-19 16:18:58,2021-06-19 16:33:32,S Portland Ave & Hanson Pl,4354.05,Eastern Pkwy & Washington Ave,3928.08,40.685396,-73.974315,40.671649,-73.963115,Customer
10150426,2021-06-23 11:29:37,2021-06-23 11:30:59,8 Ave & W 31 St,6450.05,8 Ave & W 33 St,6450.12,40.750585,-73.994685,40.751551,-73.993934,Subscriber
10150427,2021-06-19 00:54:21,2021-06-19 01:02:39,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994684,40.743453,-74.000040,Subscriber

In [10]:
citibike_rides_df_test = citibike_rides_df.copy()
citibike_rides_df_test

,Start Time & Date,End Time & Date,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Lat,Start Lon,End Lat,End Lon,User Type
0,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,Customer
1,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
2,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,Customer
3,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
4,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...
10150423,2021-06-30 13:13:05,2021-06-30 13:25:54,Alexander Ave & E 134 St,7712.04,St. Nicholas Ave & W 126 St,7756.10,40.807466,-73.927107,40.811432,-73.951878,Customer
10150424,2021-06-23 22:51:46,2021-06-23 22:56:56,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994685,40.743453,-74.000040,Subscriber
10150425,2021-06-19 16:18:58,2021-06-19 16:33:32,S Portland Ave & Hanson Pl,4354.05,Eastern Pkwy & Washington Ave,3928.08,40.685396,-73.974315,40.671649,-73.963115,Customer
10150426,2021-06-23 11:29:37,2021-06-23 11:30:59,8 Ave & W 31 St,6450.05,8 Ave & W 33 St,6450.12,40.750585,-73.994685,40.751551,-73.993934,Subscriber
10150427,2021-06-19 00:54:21,2021-06-19 01:02:39,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994684,40.743453,-74.000040,Subscriber

In [13]:
citibike_rides_df_test['Duration (Sec)'] = citibike_rides_df_test['End Time & Date'] - citibike_rides_df_test['Start Time & Date'] / np.timedelta64(1, 's')
citibike_rides_df_test

In [17]:
citibike_rides_df_test['Gender'] = np.nan
citibike_rides_df_test['Bike ID'] = np.nan
citibike_rides_df_test['Birth Year'] = np.nan
citibike_rides_df_test

,Start Time & Date,End Time & Date,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Lat,Start Lon,End Lat,End Lon,User Type,Duration (Sec),Gender,Bike ID,Birth Year
0,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,Customer,343.0,NaN,NaN,NaN
1,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber,1056.0,NaN,NaN,NaN
2,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,Customer,1932.0,NaN,NaN,NaN
3,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber,1129.0,NaN,NaN,NaN
4,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,Subscriber,298.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10150423,2021-06-30 13:13:05,2021-06-30 13:25:54,Alexander Ave & E 134 St,7712.04,St. Nicholas Ave & W 126 St,7756.10,40.807466,-73.927107,40.811432,-73.951878,Customer,769.0,NaN,NaN,NaN
10150424,2021-06-23 22:51:46,2021-06-23 22:56:56,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994685,40.743453,-74.000040,Subscriber,310.0,NaN,NaN,NaN
10150425,2021-06-19 16:18:58,2021-06-19 16:33:32,S Portland Ave & Hanson Pl,4354.05,Eastern Pkwy & Washington Ave,3928.08,40.685396,-73.974315,40.671649,-73.963115,Customer,874.0,NaN,NaN,NaN
10150426,2021-06-23 11:29:37,2021-06-23 11:30:59,8 Ave & W 31 St,6450.05,8 Ave & W 33 St,6450.12,40.750585,-73.994685,40.751551,-73.993934,Subscriber,82.0,NaN,NaN,NaN
10150427,2021-06-19 00:54:21,2021-06-19 01:02:39,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994684,40.743453,-74.000040,Subscriber,498.0,NaN,NaN,NaN

In [18]:
citibike_rides_df_test['Age'] = np.nan
citibike_rides_df_test

,Start Time & Date,End Time & Date,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Lat,Start Lon,End Lat,End Lon,User Type,Duration (Sec),Gender,Bike ID,Birth Year,Age
0,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,Customer,343.0,NaN,NaN,NaN,NaN
1,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber,1056.0,NaN,NaN,NaN,NaN
2,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,Customer,1932.0,NaN,NaN,NaN,NaN
3,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber,1129.0,NaN,NaN,NaN,NaN
4,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,Subscriber,298.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10150423,2021-06-30 13:13:05,2021-06-30 13:25:54,Alexander Ave & E 134 St,7712.04,St. Nicholas Ave & W 126 St,7756.10,40.807466,-73.927107,40.811432,-73.951878,Customer,769.0,NaN,NaN,NaN,NaN
10150424,2021-06-23 22:51:46,2021-06-23 22:56:56,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994685,40.743453,-74.000040,Subscriber,310.0,NaN,NaN,NaN,NaN
10150425,2021-06-19 16:18:58,2021-06-19 16:33:32,S Portland Ave & Hanson Pl,4354.05,Eastern Pkwy & Washington Ave,3928.08,40.685396,-73.974315,40.671649,-73.963115,Customer,874.0,NaN,NaN,NaN,NaN
10150426,2021-06-23 11:29:37,2021-06-23 11:30:59,8 Ave & W 31 St,6450.05,8 Ave & W 33 St,6450.12,40.750585,-73.994685,40.751551,-73.993934,Subscriber,82.0,NaN,NaN,NaN,NaN
10150427,2021-06-19 00:54:21,2021-06-19 01:02:39,8 Ave & W 31 St,6450.05,W 20 St & 8 Ave,6224.05,40.750585,-73.994684,40.743453,-74.000040,Subscriber,498.0,NaN,NaN,NaN,NaN

In [20]:
citibike_rides_df_test = citibike_rides_df_test[['Duration (Sec)', 
                                                 'Start Time & Date',
                                                 'End Time & Date',
                                                 'Start Station ID',
                                                 'Start Station Name',
                                                 'Start Lat',
                                                 'Start Lon',
                                                 'End Station ID',
                                                 'End Station Name',
                                                 'End Lat',
                                                 'End Lon',
                                                 'Bike ID',
                                                 'User Type',
                                                 'Birth Year',
                                                 'Gender',
                                                 'Age']]
citibike_rides_df_test

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,343.0,2021-02-26 16:38:54,2021-02-26 16:44:37,7243.04,E 84 St & Park Ave,40.778626,-73.957720,7057.07,E 78 St & 2 Ave,40.772797,-73.955778,NaN,Customer,NaN,NaN,NaN
1,1056.0,2021-02-17 11:09:11,2021-02-17 11:26:47,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4479.06,Bond St & Fulton St,40.689622,-73.983043,NaN,Subscriber,NaN,NaN,NaN
2,1932.0,2021-02-26 18:33:29,2021-02-26 19:05:41,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4222.02,Lefferts Pl & Franklin Ave,40.680342,-73.955769,NaN,Customer,NaN,NaN,NaN
3,1129.0,2021-02-26 12:48:35,2021-02-26 13:07:24,4214.03,Macon St & Nostrand Ave,40.680983,-73.950047,4479.06,Bond St & Fulton St,40.689622,-73.983043,NaN,Subscriber,NaN,NaN,NaN
4,298.0,2021-02-25 17:23:22,2021-02-25 17:28:20,6131.12,Madison Ave & E 26 St,40.742685,-73.986713,6398.06,W 37 St & 5 Ave,40.750380,-73.983390,NaN,Subscriber,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10150423,769.0,2021-06-30 13:13:05,2021-06-30 13:25:54,7712.04,Alexander Ave & E 134 St,40.807466,-73.927107,7756.10,St. Nicholas Ave & W 126 St,40.811432,-73.951878,NaN,Customer,NaN,NaN,NaN
10150424,310.0,2021-06-23 22:51:46,2021-06-23 22:56:56,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN
10150425,874.0,2021-06-19 16:18:58,2021-06-19 16:33:32,4354.05,S Portland Ave & Hanson Pl,40.685396,-73.974315,3928.08,Eastern Pkwy & Washington Ave,40.671649,-73.963115,NaN,Customer,NaN,NaN,NaN
10150426,82.0,2021-06-23 11:29:37,2021-06-23 11:30:59,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
10150427,498.0,2021-06-19 00:54:21,2021-06-19 01:02:39,6450.05,8 Ave & W 31 St,40.750585,-73.994684,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN

In [4]:
citibike_rides_df2 = pd.read_csv("../0. raw_data/202101-citibike-tripdata.csv", index_col=None, header=0)
citibike_rides_df2

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,569,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300,Prospect Park West & 8 St,40.665147,-73.976376,3395,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,1
1095342,1439,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081,Graham Ave & Grand St,40.711863,-73.944024,307,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,1
1095343,2619,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447,8 Ave & W 52 St,40.763707,-73.985162,4058,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,1
1095344,83,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462,E 44 St & 2 Ave,40.751184,-73.971387,3462,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,1
1095345,1313,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504,1 Ave & E 16 St,40.732219,-73.981656,3687,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,1

In [5]:
# Clean up data and add an Age column

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df2['starttime'] = pd.to_datetime(citibike_rides_df2['starttime'])          # Convert to datetime values  
citibike_rides_df2['stoptime'] = pd.to_datetime(citibike_rides_df2['stoptime'])

citibike_rides_df2['birth year'] = pd.to_numeric(citibike_rides_df2['birth year'], errors='coerce')  # Convert to float

citibike_rides_df2['Age'] = pd.DatetimeIndex(citibike_rides_df2['starttime']).year - citibike_rides_df2['birth year'] # Calculate age

citibike_rides_df2['gender'].replace(to_replace=1, value='Male', inplace=True )           # Replace gender values
citibike_rides_df2['gender'].replace(to_replace=2, value='Female', inplace=True )
citibike_rides_df2['gender'].replace(to_replace=0, value='Unknown', inplace=True )

citibike_rides_df2 = citibike_rides_df2.rename(columns={'tripduration': 'Duration (Sec)',  # Polish up column names
                                                      'starttime' : 'Start Time & Date',
                                                      'stoptime' : 'End Time & Date',
                                                      'start_station_id': 'Start Station ID',
                                                      'start station name': 'Start Station Name',
                                                      'start station latitude': 'Start Lat',
                                                      'start station longitude': 'Start Lon',
                                                      'end station id': 'End Station ID',
                                                      'end station name': 'End Station Name',
                                                      'end station latitude': 'End Lat',
                                                      'end station longitude': 'End Lon',
                                                      'bikeid': 'Bike ID',
                                                      'usertype': 'User Type', 	
                                                      'birth year': 'Birth Year',
                                                      'gender':'Gender'})

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

for column in citibike_rides_df2.columns:
    print(f'{column}, type: {type(citibike_rides_df2.loc[0, column])}')

citibike_rides_df2.head()

Time (in seconds) to process data: 0.65
Duration (Sec), type: <class 'numpy.int64'>
Start Time & Date, type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
End Time & Date, type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
start station id, type: <class 'numpy.int64'>
Start Station Name, type: <class 'str'>
Start Lat, type: <class 'numpy.float64'>
Start Lon, type: <class 'numpy.float64'>
End Station ID, type: <class 'numpy.int64'>
End Station Name, type: <class 'str'>
End Lat, type: <class 'numpy.float64'>
End Lon, type: <class 'numpy.float64'>
Bike ID, type: <class 'numpy.int64'>
User Type, type: <class 'str'>
Birth Year, type: <class 'numpy.int64'>
Gender, type: <class 'str'>
Age, type: <class 'numpy.longlong'>

,Duration (Sec),Start Time & Date,End Time & Date,start station id,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,2513,2021-01-01 00:00:11.902,2021-01-01 00:42:05.226,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,Unknown,52
1,2519,2021-01-01 00:00:15.096,2021-01-01 00:42:14.978,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,Unknown,52
2,1207,2021-01-01 00:00:28.930,2021-01-01 00:20:36.651,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,Male,19
3,2506,2021-01-01 00:00:32.713,2021-01-01 00:42:19.398,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,Male,19
4,959,2021-01-01 00:00:35.365,2021-01-01 00:16:34.601,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,Male,19

In [21]:
citibike_rides_df2

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,2513,2021-01-01 00:00:11.902,2021-01-01 00:42:05.226,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,Unknown,52
1,2519,2021-01-01 00:00:15.096,2021-01-01 00:42:14.978,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,Unknown,52
2,1207,2021-01-01 00:00:28.930,2021-01-01 00:20:36.651,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,Male,19
3,2506,2021-01-01 00:00:32.713,2021-01-01 00:42:19.398,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,Male,19
4,959,2021-01-01 00:00:35.365,2021-01-01 00:16:34.601,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,Male,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,569,2021-01-31 23:54:00.361,2021-02-01 00:03:29.819,3300,Prospect Park West & 8 St,40.665147,-73.976376,3395,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,Male,63
1095342,1439,2021-01-31 23:55:50.417,2021-02-01 00:19:49.898,3081,Graham Ave & Grand St,40.711863,-73.944024,307,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,Male,33
1095343,2619,2021-01-31 23:56:14.954,2021-02-01 00:39:54.350,447,8 Ave & W 52 St,40.763707,-73.985162,4058,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,Male,36
1095344,83,2021-01-31 23:59:19.826,2021-02-01 00:00:43.584,3462,E 44 St & 2 Ave,40.751184,-73.971387,3462,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,Male,52
1095345,1313,2021-01-31 23:59:40.444,2021-02-01 00:21:33.847,504,1 Ave & E 16 St,40.732219,-73.981656,3687,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,Male,31

In [23]:
citibike_rides_merged = pd.concat([citibike_rides_df2, citibike_rides_df_test], axis=0, ignore_index=True)
citibike_rides_merged

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,2513.0,2021-01-01 00:00:11.902,2021-01-01 00:42:05.226,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812.0,Customer,1969.0,Unknown,52.0
1,2519.0,2021-01-01 00:00:15.096,2021-01-01 00:42:14.978,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571.0,Customer,1969.0,Unknown,52.0
2,1207.0,2021-01-01 00:00:28.930,2021-01-01 00:20:36.651,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451.0,Subscriber,2002.0,Male,19.0
3,2506.0,2021-01-01 00:00:32.713,2021-01-01 00:42:19.398,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884.0,Customer,2002.0,Male,19.0
4,959.0,2021-01-01 00:00:35.365,2021-01-01 00:16:34.601,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837.0,Customer,2002.0,Male,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11245769,769.0,2021-06-30 13:13:05.000,2021-06-30 13:25:54.000,7712.04,Alexander Ave & E 134 St,40.807466,-73.927107,7756.10,St. Nicholas Ave & W 126 St,40.811432,-73.951878,NaN,Customer,NaN,NaN,NaN
11245770,310.0,2021-06-23 22:51:46.000,2021-06-23 22:56:56.000,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN
11245771,874.0,2021-06-19 16:18:58.000,2021-06-19 16:33:32.000,4354.05,S Portland Ave & Hanson Pl,40.685396,-73.974315,3928.08,Eastern Pkwy & Washington Ave,40.671649,-73.963115,NaN,Customer,NaN,NaN,NaN
11245772,82.0,2021-06-23 11:29:37.000,2021-06-23 11:30:59.000,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
11245773,498.0,2021-06-19 00:54:21.000,2021-06-19 01:02:39.000,6450.05,8 Ave & W 31 St,40.750585,-73.994684,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN

In [24]:
# Export to clean CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_merged.to_csv(f"../2_clean_datasets_by_year/rides_{year_to_process}.csv", index=False)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export CSV file: {round(toc - tic, 2)}')

citibike_rides_df.head()

Time (in seconds) to export CSV file: 158.92

,Start Time & Date,End Time & Date,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Lat,Start Lon,End Lat,End Lon,User Type
0,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,Customer
1,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
2,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,Customer
3,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,Subscriber
4,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,Subscriber