In [1]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance

In [2]:
# import clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df = pd.read_csv("../2_clean_datasets_by_year/rides_2013-2021_oneInHundred.csv", index_col=None, header=0)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

citibike_rides_df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Time (in seconds) to export unified CSV file: 3.38

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444.00,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
1,547.0,2013-06-01 00:38:58,2013-06-01 00:48:05,441.00,E 52 St & 2 Ave,40.756014,-73.967416,383,Greenwich Ave & Charles St,40.735238,-74.000271,17183.0,Subscriber,1967.0,Male,46.0
2,2436.0,2013-06-01 01:28:02,2013-06-01 02:08:38,323.00,Lawrence St & Willoughby St,40.692362,-73.986317,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,14776.0,Subscriber,1982.0,Male,31.0
3,451.0,2013-06-01 02:39:30,2013-06-01 02:47:01,280.00,E 10 St & 5 Ave,40.733320,-73.995101,237,E 11 St & 2 Ave,40.730473,-73.986724,20341.0,Subscriber,1961.0,Male,52.0
4,7510.0,2013-06-01 06:15:54,2013-06-01 08:21:04,233.00,Cadman Plaza W & Pierrepont St,40.694757,-73.990527,2006,Central Park S & 6 Ave,40.765909,-73.976342,19916.0,Customer,NaN,Unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226966,133.0,2021-06-28 16:22:22,2021-06-28 16:24:35,6569.07,W 36 St & 9 Ave,40.754623,-73.995168,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
1226967,230.0,2021-06-30 13:03:32,2021-06-30 13:07:22,6569.07,W 36 St & 9 Ave,40.754623,-73.995168,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
1226968,2690.0,2021-06-29 11:19:00,2021-06-29 12:03:50,5096.11,Pearl St & Peck Slip,40.708485,-74.002751,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN
1226969,2380.0,2021-06-16 18:30:21,2021-06-16 19:10:01,7059.08,West End Ave & W 60 St,40.772370,-73.990050,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Customer,NaN,NaN,NaN
1226970,1080.0,2021-06-04 08:03:33,2021-06-04 08:21:33,6115.09,W 15 St & 10 Ave,40.742753,-74.007473,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN

In [5]:
citibike_rides_df.iloc[700000,:]

Duration (Sec)                           1587
Start Time & Date     2018-11-20 09:49:03.685
End Time & Date       2018-11-20 10:15:30.984
Start Station ID                         3177
Start Station Name         W 84 St & Broadway
Start Lat                             40.7868
Start Lon                            -73.9771
End Station ID                           3658
End Station Name              W 18 St & 9 Ave
End Lat                               40.7435
End Lon                              -74.0037
Bike ID                                 33086
User Type                          Subscriber
Birth Year                               1959
Gender                                 Female
Age                                        59
Name: 700000, dtype: object

# Create manageable data sets

- oneInHundred (1% the size of the original database. Takes every hundredth row)
- oneInThousand (.1% the size of the original database. Takes every hundredth row)

In [3]:
oneInHundred = []
lngth = len(citibike_rides_df)
for i in range(lngth):
    if i%100==0: oneInHundred.append(i)

citibike_rides_df_oneInHundred = citibike_rides_df.iloc[oneInHundred, :].copy()

citibike_rides_df_oneInHundred

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
100,547.0,2013-06-01 00:38:58,2013-06-01 00:48:05,441,E 52 St & 2 Ave,40.756014,-73.967416,383,Greenwich Ave & Charles St,40.735238,-74.000271,17183.0,Subscriber,1967.0,Male,46.0
200,2436.0,2013-06-01 01:28:02,2013-06-01 02:08:38,323,Lawrence St & Willoughby St,40.692362,-73.986317,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,14776.0,Subscriber,1982.0,Male,31.0
300,451.0,2013-06-01 02:39:30,2013-06-01 02:47:01,280,E 10 St & 5 Ave,40.733320,-73.995101,237,E 11 St & 2 Ave,40.730473,-73.986724,20341.0,Subscriber,1961.0,Male,52.0
400,7510.0,2013-06-01 06:15:54,2013-06-01 08:21:04,233,Cadman Plaza W & Pierrepont St,40.694757,-73.990527,2006,Central Park S & 6 Ave,40.765909,-73.976342,19916.0,Customer,NaN,Unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122696600,133.0,2021-06-28 16:22:22,2021-06-28 16:24:35,6569.07,W 36 St & 9 Ave,40.754623,-73.995168,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
122696700,230.0,2021-06-30 13:03:32,2021-06-30 13:07:22,6569.07,W 36 St & 9 Ave,40.754623,-73.995168,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
122696800,2690.0,2021-06-29 11:19:00,2021-06-29 12:03:50,5096.11,Pearl St & Peck Slip,40.708485,-74.002751,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN
122696900,2380.0,2021-06-16 18:30:21,2021-06-16 19:10:01,7059.08,West End Ave & W 60 St,40.772370,-73.990050,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Customer,NaN,NaN,NaN
122697000,1080.0,2021-06-04 08:03:33,2021-06-04 08:21:33,6115.09,W 15 St & 10 Ave,40.742753,-74.007473,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN